.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.lowerContainer {
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.header {
    font-size: 50px;
    font-family: fantasy;
}

.detail {
    width: 300px;
}

@media(min-width: 768px) {
    .lowerContainer {
        flex-direction: row;
        align-items: center;
    }
}